.status {
  display: flex;
  width: 100%;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  color: #4b5563;
}

.count {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2563eb;
}

.finished {
  font-size: 1.25rem;
  font-weight: 700;
  color: red;
}
